html { position: relative; min-height: 100%;}
body { /* Margin bottom by footer height */ margin-bottom: 60px;}
#footer {position: absolute;bottom: 0;width: 100%;/* Set the fixed height of the footer here */ height: 60px; border-top:2px solid grey; color:grey; padding-top:20px;}
/*.navbar-default {background: #428bca !important;color:white; }
.navbar-default .navbar-nav>li>a{color:white;}
.navbar-default .navbar-brand {color: white;}
.navbar-default li a {font-weight:bold;}
*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {background:#3276b1 !important; color:white;font-weight:bold;}
.navbar-nav.navbar-right:last-child {margin-right:25px;}
.navbar-brand{height:60px; line-height:30px;}
.navbar-nav>li>a{line-height:30px;}
